html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  height: 120px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
header img {
  height: 70px;
}

#container {
  width: 80%;
  max-width: 800px;
  height: 100%;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
}
#container .navigation {
  display: flex;
}
#container .navigation h1 {
  width: 180px;
  height: 60px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: normal;
}
#container .navigation--active {
  background-color: #bfd0eb;
  text-decoration: underline;
  color: #002155;
}
#container .navigation--diactive {
  color: rgba(0, 33, 85, 0.5);
  text-decoration: none;
}
#container .container-form {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  background-color: #bfd0eb;
}
#container .container-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  line-height: 3.2;
  color: #002155;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #container .container-form form {
    padding: 30px 0;
  }
}
#container .container-form form .form-item {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  #container .container-form form .form-item {
    flex-wrap: wrap;
    justify-content: left;
  }
}
#container .container-form form .form-item label {
  display: block;
  width: 20%;
  min-width: 100px;
  float: left;
}
#container .container-form form .form-item input {
  width: 60%;
  min-width: 250px;
  height: 35px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 1em;
}
@media screen and (max-width: 425px) {
  #container .container-form form .form-item input {
    width: 100%;
    min-width: auto;
  }
}
#container .container-form form .form-bottom {
  width: 100%;
  margin: 25px auto 15px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #container .container-form form .form-bottom {
    flex-direction: column;
  }
}
#container .container-form form .form-bottom button {
  width: 250px;
  font-size: 1em;
  padding: 10px;
  border: none;
  background-color: #002155;
  border-radius: 20px;
  color: white;
}
#container .container-form form .form-bottom a {
  text-decoration: none;
  font-weight: lighter;
  color: #002155;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 40px;
  color: #002155;
  font-size: 1.1em;
}
.nav-header .user-name {
  width: 180px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.nav-header .user-name img {
  height: 20px;
  margin-right: 8px;
}
.nav-header .user-name p {
  margin-right: 10px;
}
.nav-header .logout a {
  text-decoration: none;
  color: rgba(0, 33, 85, 0.5);
}

.container-page {
  width: 60%;
  margin: auto;
}
.container-page .add_post_btn {
  width: 200px;
  border: 2px solid #bfd0eb;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px;
}
.container-page .add_post_btn img {
  width: 20px;
  margin-right: 10px;
}
.container-page .add_post_btn a {
  text-decoration: none;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #002155;
  font-weight: bold;
}
.container-page h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #002155;
}
.container-page #container_posts {
  width: 100%;
  height: auto;
}
.container-page #container_posts .post-item {
  background-color: #ffefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.container-page #container_posts .post-item .all-items {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
.container-page #container_posts .post-item .all-items .top-post {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #002155;
}
.container-page #container_posts .post-item .all-items .top-post .user-data {
  display: flex;
  align-items: center;
}
.container-page #container_posts .post-item .all-items .top-post .user-data img {
  height: 50px;
  margin-right: 10px;
}
.container-page #container_posts .post-item .all-items .top-post .user-data p {
  margin-right: 10px;
  font-size: 1.2em;
}
.container-page #container_posts .post-item .all-items .top-post .date-time-data {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.container-page #container_posts .post-item .all-items .post {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-page #container_posts .post-item .all-items .post .post-image-texte {
  margin: 20px;
  display: flex;
}
.container-page #container_posts .post-item .all-items .post .post-image-texte img {
  width: auto;
  max-height: 300px;
}
.container-page #container_posts .post-item .all-items .post .post-image-texte .only-text {
  flex-direction: column;
  margin-left: 15px;
}
.container-page #container_posts .post-item .all-items .post .post-image-texte .only-text h2 {
  margin-top: 0;
}
.container-page #container_posts .post-item .all-items .bottom-post {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.container-page #container_posts .post-item .all-items .bottom-post img {
  height: 20px;
  margin-right: 10px;
}
.container-page #container_posts .post-item .all-items .bottom-post p {
  color: #002155;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
